In [1]:
import random
import pandas as pd

In [2]:
df_original = pd.read_csv("PS_20174392719_1491204439457_log.csv", delimiter =',')
df_original.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [3]:
df_original = df_original.drop('nameOrig', axis=1)
df_original = df_original.drop('isFlaggedFraud', axis=1)
df_original = df_original.drop('nameDest', axis=1)
df_original = pd.get_dummies(df_original, columns=['type'])

In [4]:
df_original = df_original[['step', 'amount','oldbalanceOrg', 'newbalanceOrig',
        'oldbalanceDest', 'newbalanceDest', 'type_CASH_IN', 'type_CASH_OUT', 'type_DEBIT', 'type_PAYMENT', 'type_TRANSFER', 'isFraud']]

In [5]:
df_original.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER,isFraud
0,1,9839.64,170136.0,160296.36,0.0,0.0,0,0,0,1,0,0
1,1,1864.28,21249.0,19384.72,0.0,0.0,0,0,0,1,0,0
2,1,181.00,181.0,0.00,0.0,0.0,0,0,0,0,1,1
3,1,181.00,181.0,0.00,21182.0,0.0,0,1,0,0,0,1
4,1,11668.14,41554.0,29885.86,0.0,0.0,0,0,0,1,0,0

In [6]:
golden_size = 5000
golden = df_original.tail(golden_size)
golden.to_csv('golden.csv', index=False)

In [7]:
goldenless = df_original.shape[0] - golden_size
df_original = df_original.head(goldenless)
df_original.shape

(6357620, 12)

In [8]:
fraudulent_rows = df_original[df_original['isFraud'] == 1]
random_sample_fraud = fraudulent_rows.sample(n=5000, random_state=42)
random_sample_fraud['isFraud'].value_counts()

1    5000
Name: isFraud, dtype: int64

In [9]:
ok_rows = df_original[df_original['isFraud'] == 0]
random_sample_ok = ok_rows.sample(n=5000, random_state=42)
random_sample_ok['isFraud'].value_counts()

0    5000
Name: isFraud, dtype: int64

In [10]:
df = pd.concat([random_sample_fraud, random_sample_ok], ignore_index=True)
df['isFraud'].value_counts()

1    5000
0    5000
Name: isFraud, dtype: int64

In [11]:
df.to_csv('fraud_detection.csv', index=False)